<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="assets/images/lwl.png">
    <link rel="stylesheet" href="{{ "/assets/css/main.css, " | prepend: site.baseurl }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Mono" rel="stylesheet">

    <title>{{ page.title }}</title>
    <meta name="description" content="Discovering what the 11th has to offer with mouths wide open.">
  </head>

  <body>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('assets/images/lucy_1.jpg');">
        <h1>{{ page.title }}</h1>
        <p>Eating our way through the 11th.</p>
    </div>

    <div class="container">
      <div class="row">

        {% for item in site.data.restaurants %}
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/images/{{ item.Photo }}');">
              <div class="card-category">{{ item.Category }}</div>
              <div class="card-description">
                <h2>{{ item.Restaurant }}</h2>
                <p>{{ item.Phrase }}</p>
              </div>
              <div class="card-date">
                {{ item.Date }}
              </div>
              <a class="card-link" href="{{ item.Link }}" target="_blank" ></a>
            </div>
          </div>
        {% endfor %}

        </div>
      </div>
      <div class="banner">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1YRKv969ZPAtcOEAekRDHE535Y9CL0BMo" width="640" height="480"></iframe>
      </div>
    </div>
  </body>
</html>
